{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listing</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<div id="listing-container">
    <h2>Example of Lists</h2>

    <h3>Unordered List</h3>
    <ul>
        <li>Frontend
            <ol>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ol>
        </li>
        <li>Backend
            <ol>
                <li>Python</li>
                <li>Django</li>
            </ol>
        </li>
    </ul>

    <h3>Ordered List</h3>
    <ol>
        <li>Languages
            <ul>
                <li>Python</li>
                <li>JavaScript</li>
            </ul>
        </li>
        <li>Frameworks
            <ul>
                <li>Django</li>
                <li>React</li>
            </ul>
        </li>
    </ol>

</div>

</body>
</html>